*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulo {
    color: rgb(128, 128, 228);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 10%;
    left: center;
    font-size: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

body {   
font-family: sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 150vh;
}
img {
    width: 180px;
    border-radius: 20px;
}
.card {
width: 200px;
height: 200px;
position: relative;
transform-style: preserve-3d;
transition: transform .5s;
}

.card_back, .card_front {
    width: 100%;
    height: 100%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.card_front {
transform: rotateY(180deg);    
background-color: rgb(248, 248, 249);
}

.flip{
transform: rotateY(180deg);
}

.card_back{
background-color: rgb(128, 128, 228);
font-size: 80px;
}

#gameOver {
    position: absolute;
    width: 100%;
    height:150vh;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#restart {
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border:none;
    border-radius: 10px;
    margin-top: 10px;
}

#gameBoard {
    
    margin-top: 300px;
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 20px;

}